:root {
    --primary-blue: #92C9DB;
    --dark: #445E66;
    --darkest: #29383D;
    --secondary-blue: #7BA8B8;
    --bluegray: #60838F;
}

body {
    margin: 0;
    padding: 0;
}

#mainContainer {
    display: grid;
    grid-template-rows: 40px auto 30px;
    height: 100vh;
    width: 100%;
}

#header {
    background-color: var(--primary-blue);
}

#footer {
    background-color: var(--darkest);
    display: flex;
    align-items: center;
    justify-content: center;
}

#copyNotice {
    color: white;
    text-align: center;
}